<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.springboot.mapper.UserMapper">
    <select id="listAll" resultType="com.ning.springboot.entity.User">
        select * from sys_user
    </select>
    <select id="pageList" resultType="com.ning.springboot.entity.User">
        select * from sys_user
        <if test="username != null and username != ''">
            where username like concat('%',#{username},'%')
        </if>
        <if test="address != null and address != ''">
            where address like concat('%',#{address},'%')
        </if>
    </select>
</mapper>
